.ui-li > .ui-btn-inner { font-size: 3em !important; }
div.myButton input {
  width: 425px;
  height: 83px;
  padding: 55px 0 0;
  margin: 0;
  border: 0;
  background: transparent url(http://myfui.com/myfui/images/searchbutton.png) no-repeat center top;
  overflow: hidden;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
}

